{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Index{% endblock %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/about.css"/>
{% endblock %}

{% block content %}
<div class="about-title">About</div>
<div class="about-body">
    Hey, I'm Vlad.
    <br/>
    <br/>
    Currently living in Vancouver, BC, Canada. Professionally I do bioinformatics and software engineering in science and you'll find projects related to that on this website.
    <br/>
    <br/>
    There's also some insights and poems here too.
    <br/>
    <br/>
    <div class="row">
        <div class="col-3 links-section-left">
            Email:<br/>
            X:<br/>
            GitHub:<br/>
            Google Scholar:<br/>
            LinkedIn:
        </div>
        <div class="col-9">
            <a href="mailto:hello@vlich.net">hello@vlich.net</a><br/>
            <a target="_blank" href="https://x.com/ersteregen">x.com/ersteregen</a><br/>
            <a target="_blank" href="https://www.github.com/vlad0x00">github.com/vlad0x00</a><br/>
            <a target="_blank" href="https://scholar.google.com/citations?user=6iA0MgUAAAAJ">scholar.google.com/citations?user=6iA0MgUAAAAJ</a><br/>
            <a target="_blank" href="https://www.linkedin.com/in/vladimir-nik">linkedin.com/in/vladimir-nik</a>
        </div>
    </div>
</div>
{% endblock %}
