[class$="-category-title"] {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.1rem;
}

[class$="-category-tags"] {
    /* Light grey font color */
    color: #dbdbdb;
    display: table;
    margin: auto;
    position: relative;
    margin-bottom: 1rem;
}

[class$="-category-tags"] a:link, [class$="-category-tags"] a:visited, [class$="-category-tags"] a:active, [class$="-category-tags"] a:focus, [class$="-category-tags"] a:hover {
    text-decoration: none;
    color: #dbdbdb;
    outline: 0;
 }

.poems-category-list {
    /* Courier font */
    font-family: "Courier New", Courier, monospace;
    display: table;
    margin: auto;
    position: relative;
    left: -3%;
}

.projects-category-list, .reports-category-list {
    font-size: 1.25rem;
    margin: auto;
}

.poems-category-list-item {
}

.projects-category-list-item:not(:last-child), .reports-category-list-item:not(:last-child) {
    margin-bottom: 0.75rem;
}

[class$="-category-article-summary"] {
    font-size: 0.8rem;
    /* Light grey font color */
    color: #dbdbdb;
}

.paginator {
    text-align: center;
}
