[class$="-article-text"] {
    hyphens: auto;
    word-break: break-word;
}

.poems-article-text {
    /* Courier font */
    font-family: "Courier New", Courier, monospace;
    display: table;
    margin: auto;
}

@media (max-width: 767.98px) {
    .poems-article-text {
        position: relative;
        left: 0%;
    }

    .poems-article-body {
        position: relative;
        left: 0%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .poems-article-text {
        position: relative;
        left: 0.5%;
    }

    .poems-article-body {
        position: relative;
        left: 1.5%;
    }
}

@media (min-width: 992px) {
    .poems-article-text {
        position: relative;
        left: 1%;
    }

    .poems-article-body {
        position: relative;
        left: 3%;
    }

    .main-window {
        padding: 1rem 3.5rem 2rem 3.5rem;
    }
}

[class$="-article-title"] {
    font-size: 1.8rem;
    font-weight: bold;
    display: table;
    margin: auto;
    margin-bottom: 0.1rem;
    position: relative;
    text-align: center;
}

.poems-article-tags {
}

.reports-article-tags, .projects-article-tags {
    /* Light grey font color */
    color: #dbdbdb;
    display: table;
    margin: auto;
    position: relative;
    margin-bottom: 1rem;
}

[class$="-article-tags"] a:link, [class$="-article-tags"] a:visited, [class$="-article-tags"] a:active, [class$="-article-tags"] a:focus, [class$="-article-tags"] a:hover {
    text-decoration: none;
    color: #dbdbdb;
    outline: 0;
 }

[class$="-article-date"] {
    font-size: 0.8rem;
    /* Light grey font color */
    color: #dbdbdb;
    display: table;
    margin: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.projects-article-body, .reports-article-body {
}

.projects-article-body a:link, .projects-article-body a:visited, .projects-article-body a:active, .projects-article-body a:focus, .projects-article-body a:hover {
    text-decoration: underline;
}

.reports-article-body a:link, .reports-article-body a:visited, .reports-article-body a:active, .reports-article-body a:focus, .reports-article-body a:hover {
    text-decoration: underline;
}

.citation {
    font-size: 0.8rem;
}
